.modal-overlay{
    background-color: rgba(0,0,0, 0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 3;
}

.modal-content{
    width: 329px;
    min-height: 551px;

    border-radius: 32px;
    padding: 22px;
    padding-bottom: 70px;

    z-index: 4;

    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}